<style>
  body{
    background: rgb(0,122,194);
  }
</style>
<section class="home-login">
  <article>
<header>
  <a href="/">
    {{>logo}}
  </a>
</header>
<form action="/signup" method="POST">
<h3>Crear una cuenta es muy fácil</h3>
  <input type="text" name="name" autocomplete="off" id="name" placeholder="Escribe tu nombre">
  <input type="text" name="surnames" autocomplete="off" id="surnames" placeholder="Escribe tus apellidos">
  <input type="text" name="username" autocomplete="off" id="username" placeholder="Escribe tu username">
  <input type="password" name="password" id="password" placeholder="Escribe una password">
{{#if messages.length}}
<p class="error-message">{{messages.[0]}}</p>
{{/if}}
  <fieldset>
    <button type="submit">Regístrate</button>
  </fieldset>
   <p>¿Tienes cuenta? <a href="/login">Entra aquí</a></p>
</form>
  </article>
</section>