<section class="write-status">
  <form action="/t/profile/updateStatus" method="POST">
    <input type="text" name="status" placeholder="¿En qué piensas?">
  </form>
  <p> <span>Estado actual:</span>  {{status}}</p>
</section>