<ul class="menu-layout">
        <li><a href="/t/home">{{>logo}}</a></li>
        <li><a href="/t/home">Inicio</a></li>
        <li><a href="/t/profile">Perfil</a></li>
      </ul>
      <ul class="my-account">
        <li>
          <p>Mi cuenta</p>
          <ul class="sub-menu">
            <li>
                <form action="/logout" method="POST">
                <button class="sub-menu-item" type="submit">Cerrar sesión</button>
            </li>
          </ul>
          </form>
        </li>
      </ul>