<ul class="menu-mobile-links">
  <li>
      <form action="/t/search" method="GET">
          <input type="text" name="username" placeholder="Busca un amigo..." autocomplete="off">
          <button type="submit" hidden>
          </button>
        </form>
  </li>
  <li>
    <a href="/t/home">Inicio</a>
  </li>
  <li>
    <a href="/t/user/{{currentUser.username}}">Perfil</a>
  </li>
  <li>
    <a href="/t/profile/edit">Editar perfil</a>
  </li>
  <li>
    <form action="/logout" method="POST">
      <button class="sub-menu-item" type="submit">Cerrar sesión</button>
    </form>
  </li>
</ul>