<ul class="menu-mobile-links">
  <li>
    <a href="/t/home">Inicio</a>
  </li>
  <li>
    <a href="/t/profile">Perfil</a>
  </li>
  <li>
    <form action="/logout" method="POST">
      <button class="sub-menu-item" type="submit">Cerrar sesión</button>
    </form>
  </li>
</ul>