<main>
    <h1>Estos son tus amigos:</h1> 
    <ul>
            <li>
                <a href="/t/user/{{username}}"><img src="{{profileImg}}" alt="Profile picture" class="searchImg">{{name}} {{surnames}}</a>
            </li>
    </ul> 
</main>