<main>
    <h1>Esto es lo que hemos encotrado:</h1> 
    <ul>
        {{#each filteredUsers}}
        <li><a href="/t/user/{{username}}"><img src="{{profileImg}}" alt="Profile picture" class="searchImg">{{name}} {{surnames}}</a></li>
        {{/each}}
    </ul> 
</main>