<section class="content">
  <aside>
    <ul>
      <li>Perfil</li>
      <li>Cuenta</li>
      <li>Seguridad</li>
    </ul>
  </aside>
  <main>
    <h2>Editar perfil</h2>
    <form action="/t/profile/changepic" class="change-pic-form" method="POST" enctype="multipart/form-data">
    <input type="file" name="profileImg" id="profileimg">
      <img class="img-profile" src="{{currentUser.profileImg}}">
    </form>

    <form action="/t/profile/edit" method="POST">
      <input type="text" name="name" placeholder="Nombre" value="{{currentUser.name}}">
    </form>
  </main>
</section>
  