<a href="profile/edit">Editar perfil</a>
<h1>PÁGINA DE PERFIL</h1>

<aside>
  <ul>
      {{#each albums}}
  <li> <a href="profile/albums">{{photos.[0].photo}}</a></li>
      {{/each}}
  </ul>
</aside>

