@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #313131;
  font-size: .9em;
  background: #e9ebee;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul li {
  padding-bottom: 10px;
}

footer nav ul li a {
  padding: 10px;
  color: white;
  font-size: .8em;
}

.btn, .home-login article form button, .edit-info-form button, .upload-pics button, aside.invite-your-friends form button, .new-album button, .comment-form button {
  padding: 10px 30px;
  font-size: 1em;
  color: white;
  margin: 10px;
  border-radius: 5px;
  background: #42b6fb;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn:hover, .home-login article form button:hover, .edit-info-form button:hover, .upload-pics button:hover, aside.invite-your-friends form button:hover, .new-album button:hover, .comment-form button:hover {
  background: #007ac2;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.input, .home-login article form input, .edit-info-form input, .new-album .new-album-input, .comment-form input {
  padding: 9px 13px;
  font-size: 1em;
  margin: 12px;
  border: #ccc solid 1px;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.input:hover, .home-login article form input:hover, .edit-info-form input:hover, .new-album .new-album-input:hover, .comment-form input:hover {
  border: #007ac2 1px solid;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.input:focus, .home-login article form input:focus, .edit-info-form input:focus, .new-album .new-album-input:focus, .comment-form input:focus {
  outline: none;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  border: #007ac2 1px solid;
}

.home-login {
  height: 90vh;
}

.home-login article {
  width: 100%;
  max-width: 450px;
  padding: 35px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-login article header {
  text-align: center;
  margin-bottom: 10px;
}

.home-login article header a svg {
  fill: #313131;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .home-login article header a svg {
    width: 50%;
  }
}

.home-login article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.home-login article form fieldset {
  display: block;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  min-inline-size: -webkit-min-content;
  min-inline-size: -moz-min-content;
  min-inline-size: min-content;
  border-width: 0;
  border-style: groove;
  border-color: none;
}

.home-login article form p {
  font-size: .8em;
  margin-top: 20px;
}

.home-login article form p a {
  color: #007ac2;
}

.error-message {
  color: red;
  padding: 10px;
  margin-top: 0 !important;
}

.mobile-menu {
  position: relative;
  display: block;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-mobile-links-box {
  position: absolute;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: #31313182 1px 1px 5px;
  box-shadow: #31313182 1px 1px 5px;
  width: 100%;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

.menu-mobile-links-box .menu-mobile-links {
  padding-top: 15px;
}

.menu-mobile-links-box .menu-mobile-links .sub-menu-item {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 800;
  padding: 15px;
  font-size: 1.2em;
  color: #313131;
  background: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  border-top: 1px solid #ccc;
}

.menu-mobile-links-box .menu-mobile-links .sub-menu-item:hover {
  background: #007ac2;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  color: white;
}

.menu-mobile-links-box .menu-mobile-links li:first-child {
  padding: 0 10px;
}

.menu-mobile-links-box .menu-mobile-links li a {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 800;
  padding: 15px;
  font-size: 1.2em;
  color: #313131;
  background: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-mobile-links-box .menu-mobile-links li a:hover {
  background: #007ac2;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  color: white;
}

.menu-mobile-links-box .menu-mobile-links form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-mobile-links-box .menu-mobile-links form input {
  font-size: 1.2em;
  padding: 10px 20px;
  width: 80%;
  border: #ccc 1px solid;
  margin: 0 0 10px;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-mobile-links-box .menu-mobile-links form input:focus {
  outline: none;
  width: 100%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  border: #42b6fb 1px solid;
}

.visible {
  height: 250px;
  pointer-events: all;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

.mobile-navbar {
  width: 100%;
  height: 53px;
  background: #007ac2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }
}

.mobile-navbar svg {
  fill: white;
  width: 100%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-navbar a {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-navbar a:hover svg {
  fill: #42b6fb;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-navbar a:last-child {
  width: 25px;
  margin-right: 25px;
}

.mobile-navbar .toggle-hamburger {
  width: 25px;
  height: 19px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-navbar .toggle-hamburger div {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-navbar .toggle-hamburger div:first-child {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.mobile-navbar .opened div:first-child {
  -webkit-transform: rotate(45deg) translate(7px, 4px);
          transform: rotate(45deg) translate(7px, 4px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.mobile-navbar .opened div:nth-child(2) {
  opacity: 0;
}

.mobile-navbar .opened div:last-child {
  -webkit-transform: rotate(-45deg) translate(7px, -4px);
          transform: rotate(-45deg) translate(7px, -4px);
}

.nav-bar {
  width: 100%;
  background: #007ac2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu-layout svg {
  fill: white;
  width: 100%;
  max-width: 120px;
  padding-top: 8px;
}

.menu-layout a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 10px 15px;
  text-shadow: #31313182 1px 1px 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  text-decoration: none;
}

.menu-layout li {
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  background: transparent;
}

.menu-layout li:first-child {
  margin-right: 25px;
}

.menu-layout li:hover {
  background: #42b6fb;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-layout li:first-child:hover {
  background: none;
}

.my-account {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 25px;
  margin-right: 25px;
}

.my-account li.drop-account {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-account li.drop-account::after {
  content: '▾';
  position: absolute;
  right: -15px;
  top: 0;
  color: white;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.my-account li.drop-account:hover::after {
  top: 3px;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.my-account p {
  color: white;
  text-shadow: #31313182 1px 1px 3px;
}

.my-account .sub-menu {
  overflow: hidden;
  height: 0;
  width: 150px;
  left: 50%;
  top: 19px;
  -webkit-transform: translate(-50%, 16px);
          transform: translate(-50%, 16px);
  position: absolute;
  background: white;
  -webkit-box-shadow: #31313182 1px 1px 5px;
          box-shadow: #31313182 1px 1px 5px;
  border-radius: 5px;
  list-style: none;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: default;
  pointer-events: none;
}

.my-account .sub-menu .sub-menu-item button, .my-account .sub-menu .sub-menu-item a {
  width: 100%;
  display: block;
  color: #313131;
  text-decoration: none;
  font-size: .8em;
  text-align: center;
  padding: 15px;
  pointer-events: all;
  font-weight: 800;
  background: white;
  cursor: pointer;
  border: none;
}

.my-account .sub-menu .sub-menu-item button:hover, .my-account .sub-menu .sub-menu-item a:hover {
  background: #007ac2;
  color: white;
}

.my-account .sub-menu .sub-menu-item:last-child {
  border-top: 1px solid #ccc;
}

.opened .sub-menu {
  height: 100px;
  width: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, 16px);
          transform: translate(-50%, 16px);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.form-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-search button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 8px;
  width: 30px;
}

.form-search button:hover svg {
  fill: #42b6fb;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.form-search button svg {
  fill: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.form-search input {
  padding: 5px 10px;
  border: none;
  outline: none;
  width: 70%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.form-search input:focus {
  width: 100%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.add-friend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.searchResult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchResult .user-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  justify-content: flex-end;
}

.searchResult .user-search .result {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  padding: 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.searchResult .user-search .result span {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 8px;
  color: #949494;
}

.searchResult .user-search a {
  max-width: 50px;
  margin-right: 10px;
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.searchResult .user-search a img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

@media only screen and (min-width: 768px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content aside {
  width: 100%;
  background: #fcfcfc;
  border: 1px solid #eee;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .content aside {
    width: 25%;
    min-width: 360px;
    margin: 100px 50px 0 50px;
  }
}

.content aside ul {
  list-style: none;
  text-align: center;
}

.content aside ul li {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
}

.content main {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content main h2 {
  width: 100%;
  margin-bottom: 25px;
}

.change-pic-form {
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  width: 250px;
  height: 250px;
}

.change-pic-form:hover div:after {
  bottom: 0px;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.change-pic-form:hover div:before {
  bottom: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 120%) rotate(170deg);
          transform: translate(-50%, 120%) rotate(170deg);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

.change-pic-form div {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
}

.change-pic-form div:before {
  content: '\02710';
  z-index: 99;
  font-size: 3.2em;
  color: white;
  position: absolute;
  bottom: -150px;
  left: 50%;
  -webkit-transform: translate(-50%, 120%) rotate(170deg);
          transform: translate(-50%, 120%) rotate(170deg);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  pointer-events: none;
}

.change-pic-form div:after {
  content: '';
  width: 100%;
  left: 0;
  height: 150px;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: -160px;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  cursor: pointer;
  pointer-events: none;
}

.change-pic-form .img-profile {
  height: 250px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.change-pic-form input {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  z-index: 9999;
}

.edit-info-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-info-form label {
  width: 100%;
}

.edit-info-form input {
  width: 100%;
}

.edit-menu-items ul li a {
  color: #313131;
  text-decoration: none;
}

.edit-menu-items ul li a:hover {
  color: #007ac2;
}

.upload {
  color: white;
  display: block;
  padding: 10px;
  margin-right: 10px;
  background: #0065a1;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.upload:hover {
  background: #42b6fb;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.upload-pics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.upload-pics input {
  padding: 50px;
  border: 1px solid #ccc;
}

aside.main-aside {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  aside.main-aside {
    margin: 0;
  }
}

aside.main-aside section {
  width: 100%;
  padding: 15px;
}

aside.main-aside section h3 {
  font-weight: 700;
  font-size: 0.95em;
}

aside.main-aside section .calendar li {
  padding: 5px;
  text-align: left;
  border-bottom: 0;
  color: #ccc;
  font-size: 0.85em;
}

aside.main-aside section .calendar .birthday:before {
  content: '🎂';
  height: 10px;
  width: 10px;
}

aside.main-aside section .calendar a {
  color: #313131;
}

aside.main-aside section .calendar .calendar-day {
  font-weight: 800;
  margin-top: 10px;
  color: #313131;
}

aside.main-aside img {
  width: 100%;
}

.main-content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content section {
  width: 100%;
  padding: 10px;
}

@media only screen and (min-width: 768px) {
  .main-content section {
    width: 50%;
    padding: 25px;
  }
}

.main-content .write-status {
  width: 100%;
  margin-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.main-content .write-status form input {
  padding: 10px;
  width: 100%;
  outline: none;
  border: 1px solid #ccc;
}

.main-content .write-status form input:focus {
  outline: none;
  border: 1px solid #007ac2;
}

.main-content .write-status p {
  margin-top: 15px;
  font-size: 10px;
  color: #9a9a9a;
}

.main-content .write-status p span {
  font-weight: 700;
  color: #313131;
  margin-right: 15px;
}

.calendar-section {
  display: none;
}

@media only screen and (min-width: 768px) {
  .calendar-section {
    display: block;
  }
}

.profile-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .profile-index {
    border-bottom: 1px solid #f3f3f3;
    margin-bottom: 15px;
  }
}

.profile-index div:first-child {
  width: 100px;
  height: 100px;
  margin: 20px;
  overflow: hidden;
  position: relative;
}

.profile-index div:first-child img {
  height: 100%;
  width: auto;
  margin: auto;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
}

.profile-index div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-index div a {
  color: #313131;
  text-decoration: none;
}

.profile-index div .stats {
  font-size: .75em;
  color: #818181;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-index div .stats:before {
  content: '';
  display: block;
  width: 10px;
  margin: 5px 5px 5px 0;
  height: 10px;
  background: url("../images/stats.svg");
  background-size: cover;
}

.profile-index div .stats span {
  font-weight: 600;
  color: #313131;
  margin-right: 7px;
}

aside.invite-your-friends {
  display: none;
}

@media only screen and (min-width: 768px) {
  aside.invite-your-friends {
    display: block;
    background: transparent;
    border: none;
    border-left: 1px solid #ccc;
    padding: 25px;
    margin-top: 25px;
    min-width: 150px;
  }
}

aside.invite-your-friends h3 {
  margin-bottom: 15px;
}

aside.invite-your-friends p {
  font-size: .7em;
  color: #8f8f8f;
  text-align: justify;
}

aside.invite-your-friends form {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

aside.invite-your-friends form input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
}

aside.invite-your-friends form input:focus {
  outline: none;
  border: 1px solid #007ac2;
}

aside.invite-your-friends form button {
  width: 20%;
  border-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
}

.albums-profile {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.albums-profile .albums-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.albums-profile .albums-container a {
  display: block;
  width: 50%;
  padding: 5px;
}

.profile-user .profile-img {
  padding: 25px;
  max-height: 358px;
  overflow: hidden;
}

section.status-friend {
  width: 100%;
  padding: 20px;
  font-size: .8em;
  position: relative;
  background: #dfe2e7;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px 0;
}

section.status-friend:before {
  content: '"';
  position: absolute;
  left: 8px;
  color: #8f8f8f;
  top: 5px;
}

section.status-friend:after {
  content: '"';
  position: absolute;
  right: 8px;
  color: #8f8f8f;
  bottom: 5px;
}

section.status-friend .status-date {
  position: absolute;
  font-size: 9px;
  bottom: 5px;
  right: 16px;
}

.modals {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  opacity: 0;
  z-index: 999;
  background: white;
  padding: 25px;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  display: none;
}

@media only screen and (min-width: 768px) {
  .modals {
    display: block;
  }
}

.modals h3 {
  text-align: center;
}

.albums-modal {
  padding-top: 30px;
}

.albums-modal p {
  font-size: .8em;
  text-align: center;
  color: #8f8f8f;
}

.modal-opened {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

.close-modal {
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  float: right;
}

.close-modal div {
  height: 2px;
  width: 100%;
  background: #8f8f8f;
}

.close-modal div:first-child {
  -webkit-transform: rotate(45deg) translate(6px, 6px);
          transform: rotate(45deg) translate(6px, 6px);
}

.close-modal div:last-child {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

.blurred {
  -webkit-filter: blur(0.25rem);
          filter: blur(0.25rem);
  opacity: .8;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  pointer-events: none;
}

.new-album {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-album div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.new-album input {
  padding: 10px;
  border: 1px solid #ccc;
}

.new-album input:focus {
  outline: none;
  border: 1px solid #007ac2;
}

.new-album button {
  width: 20%;
  padding: 10px;
  border-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
}

.new-album .new-album-input {
  margin: 0;
  width: 100%;
}

.container-albums {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container-albums .toggle-albums {
  margin: 1.5rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.container-albums .toggle-albums input {
  width: 0;
  height: 0;
  position: absolute;
  left: -9999px;
}

.container-albums .toggle-albums input:checked + label {
  background-color: #4B9DEA;
  color: #FFF;
  border-color: #007ac2;
  z-index: 1;
}

.container-albums .toggle-albums label {
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #DDD;
  background-color: #FFF;
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
  text-align: center;
  -webkit-transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, -webkit-box-shadow .15s ease-out;
  transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, -webkit-box-shadow .15s ease-out;
  transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out;
  transition: border-color .15s ease-out, color .25s ease-out, background-color .15s ease-out, box-shadow .15s ease-out, -webkit-box-shadow .15s ease-out;
}

.container-albums article {
  width: 25%;
  padding: 5px;
}

.container-albums article a {
  background: #42b6fb;
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #313131;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.container-albums article a:hover {
  background: #007ac2;
  color: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.photoAlbum {
  height: 200px;
  width: auto;
}

.content-photo {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photo-title {
  text-align: center;
  margin: 50px 0;
}

.grid-album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid-album .main-photo {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-album .main-photo img {
  max-height: 500px;
}

.grid-album .albums-photos {
  width: 15%;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.grid-album .albums-photos .thumb {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 150px;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 5px 0;
}

.comment-form {
  padding: 25px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

.comment-form input {
  width: 100%;
  margin: 0;
  padding: 15px 25px;
}

.comment-form button {
  width: 20%;
  padding: 10px;
  border-radius: 0;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin: 0;
}

.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments .user-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  justify-content: flex-end;
}

.comments .user-comment .comment {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  padding: 15px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.comments .user-comment .comment span {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 8px;
  color: #949494;
}

.comments .user-comment a {
  max-width: 50px;
  margin-right: 10px;
  height: 50px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
}

.comments .user-comment a img {
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */