@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #313131;
  font-size: .9em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer nav ul li {
  padding-bottom: 10px;
}

footer nav ul li a {
  padding: 10px;
  color: white;
  font-size: .8em;
}

.btn, .home-login article form button, .edit-info-form button {
  padding: 10px 30px;
  font-size: 1em;
  color: white;
  margin: 10px;
  border-radius: 5px;
  background: #42b6fb;
  border: none;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.btn:hover, .home-login article form button:hover, .edit-info-form button:hover {
  background: #007ac2;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.input, .home-login article form input, .edit-info-form input {
  padding: 9px 13px;
  font-size: 1em;
  margin: 12px;
  border: #ccc solid 1px;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.input:hover, .home-login article form input:hover, .edit-info-form input:hover {
  border: #007ac2 1px solid;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.input:focus, .home-login article form input:focus, .edit-info-form input:focus {
  outline: none;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  border: #007ac2 1px solid;
}

.home-login {
  height: 90vh;
}

.home-login article {
  width: 100%;
  max-width: 450px;
  padding: 35px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home-login article header {
  text-align: center;
  margin-bottom: 10px;
}

.home-login article header a svg {
  fill: #313131;
  width: 80%;
}

@media only screen and (min-width: 768px) {
  .home-login article header a svg {
    width: 50%;
  }
}

.home-login article form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.home-login article form fieldset {
  display: block;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-before: 0;
          padding-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  -webkit-padding-after: 0;
          padding-block-end: 0;
  min-inline-size: -webkit-min-content;
  min-inline-size: -moz-min-content;
  min-inline-size: min-content;
  border-width: 0;
  border-style: groove;
  border-color: none;
}

.home-login article form p {
  font-size: .8em;
  margin-top: 20px;
}

.home-login article form p a {
  color: #007ac2;
}

.error-message {
  color: red;
  padding: 10px;
  margin-top: 0 !important;
}

.mobile-menu {
  position: relative;
  display: block;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-mobile-links-box {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow: #31313182 1px 1px 5px;
  box-shadow: #31313182 1px 1px 5px;
  width: 100%;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

.menu-mobile-links-box .menu-mobile-links {
  padding-top: 15px;
}

.menu-mobile-links-box .menu-mobile-links .sub-menu-item {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 800;
  padding: 15px;
  font-size: 1.2em;
  color: #313131;
  background: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 15px;
  border-top: 1px solid #ccc;
}

.menu-mobile-links-box .menu-mobile-links .sub-menu-item:hover {
  background: #007ac2;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  color: white;
}

.menu-mobile-links-box .menu-mobile-links li:first-child {
  padding: 0 10px;
}

.menu-mobile-links-box .menu-mobile-links li a {
  text-decoration: none;
  width: 100%;
  display: block;
  text-align: center;
  font-weight: 800;
  padding: 15px;
  font-size: 1.2em;
  color: #313131;
  background: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-mobile-links-box .menu-mobile-links li a:hover {
  background: #007ac2;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  color: white;
}

.menu-mobile-links-box .menu-mobile-links form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-mobile-links-box .menu-mobile-links form input {
  font-size: 1.2em;
  padding: 10px 20px;
  width: 80%;
  border: #ccc 1px solid;
  margin: 0 0 10px;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-mobile-links-box .menu-mobile-links form input:focus {
  outline: none;
  width: 100%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  border: #42b6fb 1px solid;
}

.visible {
  height: 250px;
  pointer-events: all;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
}

.mobile-navbar {
  width: 100%;
  height: 53px;
  background: #007ac2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .mobile-navbar {
    display: none;
  }
}

.mobile-navbar svg {
  fill: white;
  width: 100%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-navbar a {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-navbar a:hover svg {
  fill: #42b6fb;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-navbar a:last-child {
  width: 25px;
  margin-right: 25px;
}

.mobile-navbar .toggle-hamburger {
  width: 25px;
  height: 19px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 7px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-navbar .toggle-hamburger div {
  width: 100%;
  height: 3px;
  border-radius: 1px;
  background: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.mobile-navbar .toggle-hamburger div:first-child {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.mobile-navbar .opened div:first-child {
  -webkit-transform: rotate(45deg) translate(7px, 4px);
          transform: rotate(45deg) translate(7px, 4px);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.mobile-navbar .opened div:nth-child(2) {
  opacity: 0;
}

.mobile-navbar .opened div:last-child {
  -webkit-transform: rotate(-45deg) translate(7px, -4px);
          transform: rotate(-45deg) translate(7px, -4px);
}

.nav-bar {
  width: 100%;
  background: #007ac2;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

@media only screen and (min-width: 768px) {
  .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.menu-layout svg {
  fill: white;
  width: 100%;
  max-width: 120px;
  padding-top: 8px;
}

.menu-layout a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 10px 15px;
  text-shadow: #31313182 1px 1px 3px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  text-decoration: none;
}

.menu-layout li {
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  background: transparent;
}

.menu-layout li:first-child {
  margin-right: 25px;
}

.menu-layout li:hover {
  background: #42b6fb;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-layout li:first-child:hover {
  background: none;
}

.my-account {
  cursor: pointer;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-right: 25px;
  margin-right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my-account:hover::after {
  top: 18px;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.my-account::after {
  content: '▾';
  position: absolute;
  right: 5px;
  top: 16px;
  color: white;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.my-account p {
  color: white;
  text-shadow: #31313182 1px 1px 3px;
}

.my-account .sub-menu {
  overflow: hidden;
  height: 0;
  width: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, 16px);
          transform: translate(-50%, 16px);
  position: absolute;
  background: white;
  -webkit-box-shadow: #31313182 1px 1px 5px;
          box-shadow: #31313182 1px 1px 5px;
  border-radius: 5px;
  list-style: none;
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  cursor: default;
  pointer-events: none;
}

.my-account .sub-menu .sub-menu-item button, .my-account .sub-menu .sub-menu-item a {
  width: 100%;
  display: block;
  color: #313131;
  text-decoration: none;
  font-size: .8em;
  text-align: center;
  padding: 15px;
  pointer-events: all;
  font-weight: 800;
  background: white;
  cursor: pointer;
  border: none;
}

.my-account .sub-menu .sub-menu-item button:hover, .my-account .sub-menu .sub-menu-item a:hover {
  background: #007ac2;
  color: white;
}

.my-account .sub-menu .sub-menu-item:last-child {
  border-top: 1px solid #ccc;
}

.opened .sub-menu {
  height: 100px;
  width: 150px;
  left: 50%;
  -webkit-transform: translate(-50%, 16px);
          transform: translate(-50%, 16px);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.form-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.form-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-search button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 8px;
  width: 30px;
}

.form-search button:hover svg {
  fill: #42b6fb;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.form-search button svg {
  fill: white;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.form-search input {
  padding: 5px 10px;
  border: none;
  outline: none;
  width: 70%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.form-search input:focus {
  width: 100%;
  -webkit-transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.content aside {
  width: 100%;
  background: #fcfcfc;
  border: 1px solid #eee;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .content aside {
    width: 25%;
    margin: 100px 50px 0 50px;
  }
}

.content aside ul {
  list-style: none;
  text-align: center;
}

.content aside ul li {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #eee;
  font-weight: 600;
}

.content main {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content main h2 {
  width: 100%;
  margin-bottom: 25px;
}

.change-pic-form {
  position: relative;
  width: 250px;
  height: 250px;
  margin-bottom: 50px;
}

.change-pic-form .img-profile {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.change-pic-form input {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
}

.edit-info-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-info-form label {
  width: 100%;
}

.edit-info-form input {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */