$primary-color : rgb(0,122,194);
$primary-color-hover: rgb(0, 101, 161);
$button-color: rgba(66,182,251,1);
$secundary-color: rgb(49,49,49);
$white: white;
$font-family: 'Open Sans', sans-serif;
$grisperonotanto: #8f8f8f;


$transitionWithDelay: 0.4s cubic-bezier(0.77, 0, 0.175, 1) 0.3s;
$transition: 0.4s cubic-bezier(0.77, 0, 0.175, 1);
$tuentiyobpoints: (
  small: 0,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  xxlarge: 1600px,
);
